PORT=5000
NODE_ENV=development
CLIENT_URL=http://localhost:5173
API_VERSION=v1

MONGO_URI=replace_with_mongodb_connection_string

BCRYPT_SALT_ROUNDS=12

JWT_ACCESS_SECRET=replace_with_long_random_secret
JWT_ACCESS_EXPIRES_IN=1d